<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/homepage-styles.css"type="text/css">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Ritesh Anime Forum</title>
</head>
<body>
    <div class="header-content">
           
        <a href="/anime"><img src="https://image.flaticon.com/icons/png/512/1120/1120972.png" class="header-image" alt=""></a>
   
</div>
<div class="bottom-help">
    <a href="/anime/anime-forum/about-this" target="blank"><img src="https://image.flaticon.com/icons/png/512/906/906794.png"class="help-image" alt=""></a>
    </div>
    <div class="main-div container">
        <div class="form-control about-this-para">
            <p class="dashboard-main-heading">Welcome To My Anime Dashboard</p>
            </div>
            <p class="homepage-content">I made this forum to curate a list of favorite anime of my friends and store to my Notion Anime Page. Here you can see what animes I have watched what I am watching and share your favorite ones with me.

            </p>

            <p class="home-page-last-heading"><img src="https://image.flaticon.com/icons/png/512/476/476758.png" alt="" class="left-hand-icon"> &nbsp;Check my list or create a forum of yours.</p>
            <div class="my-footer-buttons">
                <a href="" class="my-anime-list-button">My Anime List</a>
            <a href="/anime/anime-forum" class="create-forum-button my-anime-list-button">&nbsp;Create Forum&nbsp;</a>
            </div>
        </div>
    
</body>
</html>