*:focus {
  outline: none;
}
html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #d8365e;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  font-family: "Roboto Slab", serif !important;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.about-this-para {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  border: 2px solid black !important;
}
.about-this-imgs {
  width: 50px;
  height: 50px;
}
.about-this-data-img {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
li {
  list-style: none;
}

.fork-repo-para {
  font-weight: bolder;
  margin-top: 10px;
}
.about-this-heading {
  margin-top: 0px;
  padding: 10px;
  border: 2px solid black !important;
  border-radius: 10px !important;
  max-width: fit-content;
  text-align: center;
}
.header-image {
  text-align: right;
  margin: 20px 20px 0 20px;
  height: 100px;
  width: 100px;
}
.header-content {
  text-align: right;
}
